/* Fonts */
@font-face {
    font-family: 'Coolvetica';
    src: url('CoolveticaRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Asap';
    src: url('Asap-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Asap';
    src: url('Asap-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Asap';
    src: url('Asap-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Asap';
    src: url('Asap-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('librebaskerville-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Elements text styles */
p {
    font-family: Asap, sans-serif;
    color: #383838;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: #383838;
    text-transform: uppercase;
    font-weight:300;
}

h2, h3, h4 {
    font-family: 'Coolvetica', sans-serif;
    color: #383838;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.25em;
}

/* Sidebar */
