/* Elements text styles */
body {
    margin: 0 auto;
    background-color:grey;
    text-align:center;
}

#container {
    margin: 0 auto;
    width: 980px;
    background-color:white;
    text-align:left;
}

header {
    border-bottom:solid 2px grey;
    padding: 0 10px 0 10px;
}

article#main {
    float:left;
    width:78%;
    padding: 0 0 0 2%;
}

footer {
    clear:both;
    border-top:solid 2px grey;
    text-align:center;
    padding: 0 0 5px 0;
}

/* text */
p, li {
    font-family: Asap, sans-serif;
    color: #383838;
    line-height: 1.5em;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    color: #383838;
    text-transform: uppercase;
    font-weight:300;
    /*text-shadow: 4px 4px 4px #aaa;*/
}

h2, h3, h4 {
    font-family: Asap, sans-serif;
    color: #383838;
}

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.25em;
}

header {
    background: #ffffff url('/static/img/banner-PROV.png') no-repeat right top;
}

header h1 {
    background-color: rgba(255, 255, 255, 0.5);
}

header > div {
    background-color: rgba(255, 255, 255, 0.5);
}

header > div > a {
    font-family: Asap, sans-serif;
    color: #383838;
    font-weight:bold;
    margin: 0 0 0 2em;
}

/* Sidebar */
#postlinks {
    list-style: none;
    text-indent: -0.7em;
    margin-left: -2.0em;
}

ul#postlinks li:before {
 content: "\0BB \020";
 }

ul#postlinks li {
    margin-bottom: 10px;
}