<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProvBlog</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/provblog.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight-default.css') }}">
    <script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body style="width: 980px; margin: 0 auto; overflow: hidden;">
    <header style=border-bottom:solid 2px grey;">
        <h1>ProvBlog</h1>
    </header>
    <article style="float: left; width: 80%;">
        <h2>Article Header</h2>
        <pre><code class="python">
            def test():
                """This is a test function for highlighting
                """
                print 'test'
                return
        </code></pre>
        <p>This is some ASAP font!</p>
    </article>

    <nav style="float: right; width: 18%; margin-left:2%;">
        <h3>Other Posts</h3>
        <ul>
          <li><a href="#">My Friend</a></li>
          <li><a href="#">My Other</a></li>
          <li><a href="#">My Best</a></li>
        </ul>
    </nav>

    <footer style="clear:both; border-top:solid 2px grey; text-align:center">
        <p>Posted by: <a href="">Nicholas Car</a></p>
        <p>Contact information: <a href="mailto:someone@example.com">
        someone@example.com</a>.</p>
    </footer>
</body>
</html>