<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProvBlog</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight-default.css') }}">
    <script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
    <h1>ProvBlog</h1>
    <pre><code class="python">
        def test():
            """This is a test functin for highlighting
            """
            print 'test'
            return
    </code></pre>
</body>
</html>